@model _1911060148_NGUYENTRUNGKIEN_BigSchool1.ViewModels.CoursesViewModel
@using Microsoft.AspNet.Identity;
@using _1911060148_NGUYENTRUNGKIEN_BigSchool1.Models;

@{
    ViewBag.Title = "Home Page";
}

<h1>Danh sách khóa học</h1>
<table class="course" style="width:80%">
    <tr>
        <th>Ngày</th>
        <th>Giờ</th>
        <th>Giảng viên</th>
        <th>Môn học</th>
        <th>Tham gia</th>
        <th>Theo dõi</th>
    </tr>
    @foreach (var course in Model.UpcommingCourses)
    {
        if (course.IsCanceled == false)
        {
            <tr>

                <td class="date">
                    @course.DateTime.ToString("dd/MM/yyyy")
                </td>
                <td class="time">
                    @course.DateTime.ToString("HH:mm")
                </td>
                <td class="details">
                    <span class="lecturer">
                        @course.Lecturer.Name
                    </span>

                </td>
                <td class="category">
                    @course.Category.Name

                </td>
                <td>
                    @if (Model.ShowAction)
                    {
                        var User_ID = @User.Identity.GetUserId();
                        ApplicationDbContext _dbContext = new ApplicationDbContext();
                        bool isGoing = _dbContext.Attendances.Any(a => a.CourseId == course.Id && a.AttendeeId == User_ID);

                        <span>
                            @if (!isGoing)
                            {
                                <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">Tham gia</button>
                            }
                            else
                            {
                                <button data-course-id="@course.Id" class="btn btn-info btn-sm js-toggle-attendance">Hủy bỏ</button>

                            }
                        </span>

                    }

                </td>
                <td>
                    @if (Model.ShowAction)
                    {
                        var user_id = @User.Identity.GetUserId();
                        ApplicationDbContext _dbcontext = new ApplicationDbContext();
                        bool isfollowing = _dbcontext.Followings
                            .Any(a => a.FollowerId == user_id && a.FolloweeId == course.LecturerId);
                        <span>
                            @if (!isfollowing)
                            {
                                <button class="btn btn-default btn-sm js-toggle-follow" data-user-id="@course.LecturerId">Theo dõi</button>
                            }
                            else
                            {
                                <button class="btn btn-danger btn-sm js-toggle-follow" data-user-id="@course.LecturerId">Bỏ theo dõi</button>
                            }
                        </span>
                        @*<button class="btn btn-default btn-sm js-toggle-follow" data-user-id="@course.LecturerId">Follow?</button>*@
                    }
                </td>


            </tr>
        }
    }
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            CoursesController.init();
            FollowsController.init();
        });
    </script>
}
