@model _1911060148_NGUYENTRUNGKIEN_BigSchool1.ViewModels.CoursesViewModel
@using Microsoft.AspNet.Identity;
@using _1911060148_NGUYENTRUNGKIEN_BigSchool1.Models;

@{
    ViewBag.Title = "Home Page";
}

<h1>Danh sách khóa học</h1>
<table class="course" style="width:80%">
    <tr>
        <th>Ngày</th>
        <th>Giờ</th>
        <th>Giảng viên</th>
        <th>Môn học</th>
        <th> </th>
    </tr>
    @foreach (var course in Model.UpcommingCourses)
    {
        if (course.IsCanceled == false)
        {
            <tr>
                
                <td class="date">
                    @course.DateTime.ToString("dd/MM/yyyy")
                </td>
                <td class="time">
                    @course.DateTime.ToString("HH:mm")
                </td>
                <td class="details">
                    <span class="lecturer">
                        @course.Lecturer.Name
                    </span>
                    
                </td>
                <td class="category">
                    @course.Category.Name
                    
                </td>
                <td>
                    @if (Model.ShowAction)
                    {
                        var User_ID = @User.Identity.GetUserId();
                        ApplicationDbContext _dbContext = new ApplicationDbContext();
                        bool isGoing = _dbContext.Attendances.Any(a => a.CourseId == course.Id && a.AttendeeId == User_ID);

                        <span>
                            @if (!isGoing)
                            {
                                <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">Tham gia</button>
                            }
                            else
                            {
                                <button data-course-id="@course.Id" class="btn btn-info btn-sm js-toggle-attendance">Hủy bỏ</button>

                            }
                        </span>

                    }
                   
                </td>
                <td>
                    @if (Model.ShowAction)
                    {
                        var user_id = @User.Identity.GetUserId();
                        ApplicationDbContext _dbcontext = new ApplicationDbContext();
                        bool isfollowing = _dbcontext.Followings
                            .Any(a => a.FollowerId == user_id && a.FolloweeId == course.LecturerId);
                        <span>
                            @if (!isfollowing)
                            {
                                <button class="btn btn-default btn-sm js-toggle-follow" data-user-id="@course.LecturerId">Theo dõi</button>
                            }
                            else
                            {
                                <button class="btn btn-danger btn-sm js-toggle-follow" data-user-id="@course.LecturerId">Bỏ theo dõi</button>
                            }
                        </span>
                        @*<button class="btn btn-default btn-sm js-toggle-follow" data-user-id="@course.LecturerId">Follow?</button>*@
                    }
                </td>


            </tr>
        }
    }
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            CoursesController.init();
            FollowsController.init();
        });
    </script>
}
@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@