@model _1911060148_NGUYENTRUNGKIEN_BigSchool1.ViewModels.CoursesViewModel
@using Microsoft.AspNet.Identity;
@using _1911060148_NGUYENTRUNGKIEN_BigSchool1.Models;
@{
    ViewBag.Title = "Attending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Attending</h2>

<ul class="course">
    @foreach (var course in Model.UpcommingCourses)
    {
        <li>
            <div class="date">
                <div class="month">
                    @course.DateTime.ToString("MM")
                </div>
                <div class="day">
                    @course.DateTime.ToString("dd")
                </div>
            </div>
            <div class="details">
                <span class="lecturer">
                    @course.Lecturer.Name
                    @if (Model.ShowAction)
                    {
                        var user_id = @User.Identity.GetUserId();
                        ApplicationDbContext _dbcontext = new ApplicationDbContext();
                        bool isfollowing = _dbcontext.Followings.Any(a => a.FollowerId == user_id && a.FolloweeId == course.LecturerId);
                        <span>
                            @if (!isfollowing)
                            {
                                <a href="#" class="js-toggle-follow" data-user-id="@course.LecturerId">Follow?</a>
                            }
                            else
                            {
                                <a href="#" class="js-toggle-follow" data-user-id="@course.LecturerId">Following</a>
                            }
                        </span>
                    }
                </span>
                <span class="category">
                    @course.Category.Name
                </span>
                @if (Model.ShowAction)
                {
                    var User_ID = @User.Identity.GetUserId();
                    ApplicationDbContext _dbContext = new ApplicationDbContext();
                    bool isGoing = _dbContext.Attendances.Any(a => a.CourseId == course.Id && a.AttendeeId == User_ID);

                    <span>
                        @if (!isGoing)
                        {
                            <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">Going?</button>
                        }
                        else
                        {
                            <button data-course-id="@course.Id" class="btn btn-info btn-sm js-toggle-attendance">Going</button>

                        }
                    </span>
                }
            </div>
        </li>
    }
</ul>
@section scripts
{
    <script>
        $(document).ready(function () {
            CoursesController.init();
            FollowsController.init();
        });
    </script>
}
